* {
  margin: 0;
  padding: 0;
}

.mapImg {
  max-width: 100%;
  height: auto;
}

.homeImg {
  max-width: 70%;
  height: inherit;
}

.aboutImg {
  max-width: 50%;
  height: inherit;
}

.rightPanelText {
  font-size: 13px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #34485a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

  .logoImg {
    width: 40px; 
    height: inherit;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    
    .link {
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 600;
      color: #FFFFFF;
      transition: 0.3s ease-in-out;
    }
    .link:hover,
    .link.active {
      color: #19a4bc;
    }
    .link:hover::after {
      content: "";
      width: 30%;
      height: 2px;
      background-color: #19a4bc;
      position: absolute;
      bottom: -4px;
      left: 20px;
    }
  }

  #mobile {
    display: none;
  }

  #mobile i {
    color: #FFFFFF;
  }
}

.pageContainer {
  height: 80vh;
  width: 100% !important;

  .contentWrapper {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;

    .pageHeading {
      background-color: #19a4bc;
      width: 100%;
      padding: 10px;

      h3 {
        color: #FFFFFF;
        font-size: 18px;
      }
    }

    .contentLeft {
      flex: 8;
      height: 80% !important;
      
      p {
        padding: 20px;
        text-align: justify;

        span {
          font-weight: bold;
        }
      };

      h4 {
        padding: 20px;
      }
      
    }
    .contentRight {
      flex: 4;
      height: 100% !important;
      background-color: #34485a;

      .rightPanelHeading {
        background-color: #FFFFFF;
        width: 100%;
        padding: 10px;

        h3 {
          color: #34485a;
          font-size: 18px;
        }
      }

      .specialityLogos {
        width: 100%;
        height: calc(100% - 2px) !important;
        padding: 20px;
        color: #FFFFFF;
        text-align: justify;
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: #19a4bc;
      }
    }
  }

  .LogosPanel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .panels {
      display: flex;
      align-items: center;
      justify-content: space-around;

      div {
        height: inherit;
        padding: 60px;

        img {
          width: 100%;
          height: inherit;
        }
      }
    }
  }

}
.footerComponent {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  position:absolute;
  left:0;
  bottom:0;
  right:0;

  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: #34485a;

    .copyLink {
      text-decoration: none;
    }

    h4 {
      font-size: 12px;
      font-weight: bold;
      color: #b8bdc1;
    }

    p {
      font-size: 12px;
      text-align: center;
    }

    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.nameWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 20px;

  .firstName {
    width: 50%;
    height: 42px;
    padding: 10px;
    border: 1px solid #19a4bc;
    border-radius: 5px; 
  }
  .lastName {
    width: 50%;
    height: 42px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #19a4bc;
    border-radius: 5px; 
  }
}

.telephoneWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
  
  .formInputs {
    width: 100%;
    height: 42px;
    padding: 10px;
    border: 1px solid #19a4bc;
    border-radius: 5px; 
  }
}

.queryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;

  textarea {
    width: 100%;
    padding: 10px;
    height: 126px;
    border: 1px solid #19a4bc;
    border-radius: 5px; 
  }
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;

  button {
    width: 100%;
    padding: 10px;
    color:#FFFFFF;
    background-color: #19a4bc;
    border: none;
    border-radius: 5px; 
  }

  button:hover {
    background-color: #34485a;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      border-radius: 15px 0px 0px 0px;
      top: 90px;
      right: -300px;
      width: 300px;
      height: 100%;
      background-color: #2a3239;
      box-shadow: 0 40px 60px rgba(0,0,0,0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
    }
    #navbar.active {
      right: 0px;
    }
    #navbar li {
      margin-bottom: 25px;
    }
    #mobile {
      display: block;
    }
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  }


  header {
    .navbar {

      .hamburger {
        display: block;
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
      
      .navMenu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #34485a;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        
        .navItem {
          margin: 16px 0px;
        }
      }
      
      .navMenu.active {
        left: 0;
      }
    }
  }

  .LogosPanel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .panels {
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        height: inherit;
        padding: 15px;

        img {
          width: 80px;
          height: 50%;
        }
      }
    }
  }

  .footerComponent {
    display: none;
  }
}
  

@media screen and (max-width: 605px) {
  .contentWrapper {
    flex-direction: column;

    .contentLeft {
      flex: 12;
      height: 50% !important;
    }

    .contentRight {
      flex: 12;
      width: 100%;
      height: 50% !important;

      .LogosPanel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    
        .panels {
          display: flex;
          align-items: center;
          justify-content: center;
    
          div {
            height: inherit;
            padding: 15px;
    
            img {
              width: 80px;
              height: 50%;
            }
          }
        }
      }
    }
  }
}